.wrapper {
  margin: auto;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  padding: 0 0 0 0;
  height: 86px;
  font: 600 15px/18px Montserrat, arial, helvetica, sans-serif;
}

.logo {
  width: 166px;
  height: 51px;
  background: url('img/Tesla-Wordmark-Red.png')
}

.models__item {
  position: relative;
  margin-right: 38px;
  color: #000;
  text-decoration: none;
}

.models__item:last-child {
  margin-right: 5px;
}

.menu__item {
  margin: 0 25px 0 0;
  text-decoration: none;
}

.menu__item:last-child {
  margin-right: 5px;
}

.hamburger-menu {
  display: inline-flex;
  margin-right:  19px;
}

.menu-mobile__btn {
  margin-top: 8px;
}
/* скрываем чекбокс */
#menu-mobile__toggle {
  opacity: 0;
}

/* стилизуем кнопку */
.menu-mobile__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;

  cursor: pointer;
  z-index: 1;
}

/* добавляем "гамбургер" */
.menu-mobile__btn > span,
.menu-mobile__btn > span::before,
.menu-mobile__btn > span::after {

  position: absolute;
  width: 24px;
  height: 1px;
  background-color: #E51937;
  transition-duration: .25s;
  border-bottom: 4px;
}
.menu-mobile__btn > span::before {
  content: '';
  top: -8px;
}
.menu-mobile__btn > span::after {
  content: '';
  top: 8px;
}

.menu-mobile__box {
  display: flex;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    padding: 187px 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
    transition-duration: 0.25s;
}

/* элементы меню */
.menu-mobile__item {
  display: block;
  padding: 12px 24px;
  color: #000;
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  transition-duration: .25s;
}
.menu-mobile__item:hover {
  background-color: #CFD8DC;
}

#menu-mobile__toggle:checked ~ .menu-mobile__btn > span {
  transform: rotate(45deg);
}
#menu-mobile__toggle:checked ~ .menu-mobile__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu-mobile__toggle:checked ~ .menu-mobile__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-mobile__toggle:checked ~ .menu-mobile__box {
  visibility: visible;
  left: 0;
}

.main1_model {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 0 0 0;
  font: 600 90px/110px Montserrat, arial, helvetica, sans-serif;
}

.main1_privetstvie {
  display: flex;
  align-items: center;
  flex-direction: column;
  font: 500 15px/18px Montserrat, arial, helvetica, sans-serif;
  margin: -8px 0 25px 0;
}

.main1__car {
  display: flex;
  justify-content: center;
  margin:auto;
  width: 968px;
  height: 450px;
  background: url('img/tesla-png-tesla-png-hd-1636.png');
}



.main1__down_containers {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.main1__down_razgon {
  margin-left: 118px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
}
.main1__down_razgon-dannie {
  display: flex;
  font: 600 35px/43px 'Montserrat', arial, helvetica, sans-serif;
  margin-left: 14px;
  flex-direction: column;
}
.main1__down_razgon-dannie--razgona{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.main1__down_razgon--chego {
  display: flex;
  font: 400 12px/15px 'Montserrat', arial, helvetica, sans-serif;
}
.main1__down_razgon--ed-izm {
  font: 600 20px/24px 'Montserrat', arial, helvetica, sans-serif;
}
.main1__down_razgon {
  margin-left: 118px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
}
.main1__down_razgon-dannie {
  display: flex;
  font: 600 35px/43px 'Montserrat', arial, helvetica, sans-serif;
  margin-left: 14px;
  flex-direction: column;
}



.main1__down_zapas {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  margin-top: 8px;
}
.main1__down_zapas--road {
  margin-top: 8px;
}
.main1__down_razgon-dannie {
  display: flex;
  font: 600 35px/43px 'Montserrat', arial, helvetica, sans-serif;
  margin-left: 14px;
  flex-direction: column;
}
.main1__down_zapas-dannie--zapasa{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.main1__down_zapas--chego {
  display: flex;
  font: 400 12px/15px 'Montserrat', arial, helvetica, sans-serif;
}
.main1__down_zapas--ed-izm {
  font: 600 20px/24px 'Montserrat', arial, helvetica, sans-serif;
}
.main1__down_zapas {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
}
.main1__down_zapas-dannie {
  display: flex;
  font: 600 35px/43px 'Montserrat', arial, helvetica, sans-serif;
  margin-left: 14px;
  flex-direction: column;
}

.main1__down_testdrive {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.main1__down_testdrive-text{
  margin-left: 7px;
  font: 700 13px/16px 'Montserrat', arial, helvetica, sans-serif;
}

.main1__down_zakaz {
  display: line-block;
 font: 700 13px/16px 'Montserrat', arial, helvetica, sans-serif;
 padding: 10px 45px;
 background: #fff;
 color: #E51937;
 text-decoration: none;
 border: 2px solid #E51937;
 box-sizing: border-box;
 transition: opacity .8s;
 cursor: pointer;
}

.main2 {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  width: 100%;
  background: left bottom no-repeat url('img/2013-tesla-model-s-cockpit.png');
}
.main2__nazvanie {
  font: 600 70px/85px 'Montserrat', arial, helvetica, sans-serif;
  color: #E51937;
  display: flex;
}

.main2__opisanie1 {
 display:flex;
 background: #E51937;
 color: #fff;
 text-decoration: none;
 box-sizing: border-box;
 flex-direction: column;
 width: 440px;
 height: 900px;
}

.main2__nazvanie {
  margin: 66px 0 0 70px;
}


.main2__opisanie1--zagolovok2 {
  font: 600 30px/37px 'Montserrat', arial, helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 29px;
  margin-bottom: 0;
}
.main2__opisanie1--paragraf2 {
  font: 500 15px/18px 'Montserrat', arial, helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding-left: 60px;
  padding-right: 72px;
}



.main2__prodispley_container {
  margin-top: 46px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  margin-left: 60px;
}
.main2__prodispley--cifry {
  display: flex;
  flex-direction: column;
  font: 600 35px/43px 'Montserrat', arial, helvetica, sans-serif;
}
.main2__prodispley_displey {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.main2__prodispley_dannie {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.main2__prodispley--text {
  font: 600 20px/24px 'Montserrat', arial, helvetica, sans-serif;
  margin-left: 10px;
}
.main2__prodispley--podparagraf {
  font: 400 12px/15px 'Montserrat', arial, helvetica, sans-serif;
}
.main2__prodispley_image {
  margin-top: 6px;
  display: flex;
}

.main2__prowifi_container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  margin-left: 57px;
  padding-top: 10px;
}
.main2__prowifi_displey {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.main2__prowifi_dannie {
  display: flex;
  flex-direction: column;
  margin-left: 19px;
}
.main2__prowifi--text {
  font: 600 20px/24px 'Montserrat', arial, helvetica, sans-serif;
}
.main2__prowifi--podparagraf {
  font: 400 12px/15px 'Montserrat', arial, helvetica, sans-serif;
}
.main2__prowifi_image {
  display: flex;
  align-items: flex-start;
  padding-bottom: 19px;
}


.main2__probagaj_container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  margin-left: 60px;
}
.main2__probagaj--cifry {
  display: flex;
  flex-direction: column;
  font: 600 35px/43px 'Montserrat', arial, helvetica, sans-serif;
}
.main2__probagaj_bagaj {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.main2__probagaj_dannie {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.main2__probagaj--text {
  font: 600 20px/24px 'Montserrat', arial, helvetica, sans-serif;
  margin-left: 10px;
}
.main2__probagaj--podparagraf {
  font: 400 12px/15px 'Montserrat', arial, helvetica, sans-serif;
}
.main2__probagaj_image {
  display: flex;
}



.main2__zakaz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 171px;


}

.main2__zakaz--info,
.main2__zakaz--inf {
  margin-left: 7px;
  font: 700 13px/16px 'Montserrat', arial, helvetica, sans-serif;
}

.main2__down_zakaz {
 font: 700 13px/16px 'Montserrat', arial, helvetica, sans-serif;
 padding: 10px 45px;
 background: #E51937;
 color: #fff;
 text-decoration: none;
 border: 2px solid #fff;
 box-sizing: border-box;
 transition: opacity .8s;
 cursor: pointer;
}
.main2__zakaz--info {
  padding-right: 20px;
}


.main2__zakaz_circle {
  transform: translateY(-50%);
  width: 26px;
  height: 22px;
}
.main2__zakaz--inf {
  display: flex;
  border-radius: 50%;
  background-color: #E51937;
  border: 2px solid #fff;
  justify-content: center;


}
