.wrapper {
  margin: auto;
  width: 95%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2px;
  padding: 0 0 0 0;
  height: 86px;
  font: 600 15px/18px Montserrat, arial, helvetica, sans-serif;
}

.logo {
  width: 166px;
  height: 51px;
  background: url('img/Tesla-Wordmark-Red.png')
}

.models__item {
  position: relative;
  margin-right: 38px;
  color: #000;
  text-decoration: none;
}

.models__item:last-child {
  margin-right: 5px;
}

.menu__item {
  margin: 0 25px 0 0;
}

.menu__item:last-child {
  margin-right: 5px;
}

.hamburger-menu {
  display: inline-flex;
  margin-right:  19px;
}

.menu-mobile__btn {
  margin-top: 8px;
}
/* скрываем чекбокс */
#menu-mobile__toggle {
  opacity: 0;
}

/* стилизуем кнопку */
.menu-mobile__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;

  cursor: pointer;
  z-index: 1;
}

/* добавляем "гамбургер" */
.menu-mobile__btn > span,
.menu-mobile__btn > span::before,
.menu-mobile__btn > span::after {
  //display: block;
  position: absolute;
  width: 24px;
  height: 1px;
  background-color: #E51937;
  transition-duration: .25s;
  border-bottom: 4px;
}
.menu-mobile__btn > span::before {
  content: '';
  top: -8px;
}
.menu-mobile__btn > span::after {
  content: '';
  top: 8px;
}

.menu-mobile__box {
  display: flex;
    position: fixed;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    padding: 187px 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
    transition-duration: 0.25s;
}

/* элементы меню */
.menu-mobile__item {
  display: block;
  padding: 12px 24px;
  color: #000;
  font-family: 'Roboto', arial, helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-decoration: none;
  transition-duration: .25s;
}
.menu-mobile__item:hover {
  background-color: #CFD8DC;
}

#menu-mobile__toggle:checked ~ .menu-mobile__btn > span {
  transform: rotate(45deg);
}
#menu-mobile__toggle:checked ~ .menu-mobile__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu-mobile__toggle:checked ~ .menu-mobile__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-mobile__toggle:checked ~ .menu-mobile__box {
  visibility: visible;
  left: 0;
}



.main1_model {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 0 0 0;
  font: 600 90px/110px Montserrat, arial, helvetica, sans-serif;
}

.main1_privetstvie {
  display: flex;
  align-items: center;
  flex-direction: column;
  font: 500 15px/18px Montserrat, arial, helvetica, sans-serif;
  margin: -8px 0 0 0;
}

.main1__car {
  margin: 27px 0px 0 143px;
}


.main1__razgon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
